<ion-header>
  <ion-toolbar>
    <ion-title>Countries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let country of countries">
      <ion-thumbnail slot="start">
        <img [src]="country.flags?.png" [alt]="country.flags?.alt" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ country.name?.official }}</h2>
      </ion-label>

      <ion-button slot="end" (click)="showNews(country)">News</ion-button>
      <ion-button slot="end" (click)="showWeather(country)">Weather</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
