<ion-header>
  <ion-toolbar>
      <ion-title>G00426058</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToSettings()">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Enter Country</ion-label>
    <ion-input [(ngModel)]="searchTerm"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="searchCountries()">Search</ion-button>
</ion-content>
